#copy-resep{
    display: none;
}
#copylama{
    display:inline;
}
@media print {
  .container{
    display:none;
  }
  #copy-resep{
      display: inline;
  }
  #copylama{
      display:none;
  }
  img{
    width:10%;
  }
  body{
     width: 110mm;
     height: 207mm;
     margin: 0;
     padding-top: 3mm;
     border: 1px solid black;
  }
  @page{
    size:C5;
    margin: 0;
  }
}
